/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body {font-family: 'Calibri', cursive;}

nav ul a,
nav .brand-logo {
  color: #424242;
}

nav .brand-logo {
  font-family: 'Dancing Script', cursive;;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #424242;
}

nav .nav-wrapper {
    padding: 0 50px;

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .section-intro {
    height: 100%;
    width: 100%;
   }
   .section2 {
    height: 100%;
    width: 100%;
   }

  .section3 {
    height: 100%;
    width: 100%;
  }
  .bunner {
    height: 100%;
    width: 100%;
  }
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

.registrazione-icons{font-size: 40em:;}

.header {margin-top: 8%;
}

.header-subtitle {font-size: 5em;}

.header subtitle {margin-top: 5%;}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
   
   .nav-wrapper {
    padding: 0 10px;
   } 

    }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}